@page
@model WebApplication1.Pages.Panel.Crud_panel.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductsGg</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsGg.Sku)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductsGg.Sku)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsGg.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductsGg.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsGg.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductsGg.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsGg.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductsGg.ImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductsGg.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
