@page
@model WebApplication1.Pages.Panel.Crud_panel.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductsGg[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsGg[0].Sku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsGg[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsGg[0].Description)
            </th>
            <th>
                Product Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductsGg) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src=@item.ImageUrl alt="item" width="70" height="90">
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
